#start-content {
    margin-top: 50px;
}

#login-start {
    margin-top: 100px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.glyphicon {
    color: #333;
    font-size: 20px;
}

.media {
    display: table;
}

#site-navbar
{
    z-index: 999;
}

#affix
{
    z-index: 0;
}

.jumbotron {
    margin-top: 68px;
    background-color: background-image:;
    background-image: url(../images/jumbotronbackground.jpg);
    background-position: 0% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    min-width: 100%;
    max-width: 100%;
}

fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    padding: 10px;       
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}